.message {
    background-color: lightpink;
}

.imageAndText {
    background-color: lavender;
}

.imageAndText img {
    background-color: lightblue;
}

.text {
    background-color: lawngreen;
}

.text:after {

}

.name {
    background-color: lightsalmon;
}

.messageText {

}

.time {

}