.friendMessage {
    background-color: lightpink;
}

.friendImageAndText {
    background-color: lavender;
}

.friendImageAndText img {
    background-color: lightblue;
}

.friendText {
    background-color: lawngreen;
}

.friendText:after {

}

.friendName {
    background-color: lightsalmon;
}

.friendMessageText {

}

.friendTime {

}
